<ion-header>
  <ion-toolbar>
    <ion-title>Add Movie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="movie-container mat-elevation-z8">
    <div class="movie-loading-shade"
         *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <mat-card class="movie-card">
      <form [formGroup]="movieForm" (ngSubmit)="onFormSubmit()">
        <mat-form-field class="movie-full-width">
          <input matInput placeholder="Movie Title" formControlName="title"
                 [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!movieForm.get('title').valid && movieForm.get('title').touched">Please enter Movie Name</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="movie-full-width">
          <input matInput placeholder="Movie Desc" formControlName="description"
                 [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!movieForm.get('description').valid && movieForm.get('description').touched">Please enter Movie Description</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="movie-full-width">
          <input matInput placeholder="Movie Genre" formControlName="genre"
                 [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!movieForm.get('genre').valid && movieForm.get('genre').touched">Please enter Movie Price</span>
          </mat-error>
        </mat-form-field>
        <div class="button-row">
          <button type="submit" [disabled]="!movieForm.valid" mat-flat-button color="primary"><mat-icon>save</mat-icon> Save Movie</button>
        </div>
      </form>
    </mat-card>
  </div>
</ion-content>
